astroid==2.15.8
attrs==23.1.0
certifi==2023.7.22
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.0
click==8.1.7
dill==0.3.7
idna==3.4
iniconfig==2.0.0
isort==5.12.0
lazy-object-proxy==1.9.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.3.0
pycparser==2.21
pyparsing==3.1.1
requests==2.31.0
six==1.16.0
tomli==2.0.1
tomlkit==0.12.1
urllib3==2.0.6
wrapt==1.15.0
