astroid==3.0.2
attrs==23.2.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.7
idna==3.6
iniconfig==2.0.0
isort==5.13.2
lazy-object-proxy==1.10.0
mccabe==0.7.0
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
pluggy==1.4.0
pycparser==2.21
pyparsing==3.1.1
requests==2.31.0
six==1.16.0
tomli==2.0.1
tomlkit==0.12.3
urllib3==2.1.0
wrapt==1.16.0
